body{
    margin:0;
    padding:0;
}
header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    color:aqua;
}
.head-content{
    background-image: url("home.jpg");
    height: 75vh;
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul{
    float: right;
    list-style-type:none;
   
}
nav ul li{
    display: inline-block;
}
li a{
color: rgb(247, 24, 117);
cursor: pointer;
text-decoration: none;
color:#fff;
padding: 5PX 20px;
border:1px solid #fff;
}
li a:hover {
color: rgb(49, 236, 12);
}
#about{
    box-shadow: 2px 2px 15px rgba(219, 213, 213, 0.8);
    padding: 5.5em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    background-image: url("about.jpg");
    background-position: center;
    background-size: 100% 100%;
    color:rgb(228, 11, 47);
}
#skills{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 11, 183);
    background-image: url("skills.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:100% 100%;
}
#project{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(230, 11, 18);
    background-image: url("project.jpg");
    background-position: center;
    background-size: 100%;
}
footer{
    text-align: center;
    color:aqua;
    padding:1rem 0;
    background-image: url("fot.jpg");
    background-position: center;
    background-size: 100%;
}